@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Serif Display', serif;
  background-color: #111;
  color: #fff;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}